<!DOCTYPE html>
<html>
  <head>
    <title></title>
      <link rel="stylesheet" href="stylesheets/bootstrap.css">
      <link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
<style type="text/css">
    body{
        background-color: #00cccb;
    }
    .container{
        width: 300px;
        margin: 100px auto;
    }
    .container .form-signin .form-signin-heading{
        color: white;
    }
</style>
  </head>
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/bootstrap.js"></script>

  <body>
  <!--<div class="main">-->
  <div class="container">

      <% all.forEach(function(item){ %>
      <div class="viewrecord">
          <div class="row">
              <div class="col-md-12" style="font-size: 17px;padding-top: 5px;">
                  <a href="/article/view/<%= item.id_ %>" ></a>


              </div>
          </div>
          <div  class="row" style="padding-left: 20px;" >
              <small><i class="glyphicon glyphicon-edit"></i> <a href="/user/view/<%= item.id %>/wdwz"> <%= item.goods %></a></small>
              <small><i class="glyphicon glyphicon-eye-open"></i> 围观<%= item.theme %>次</small>
          </div>
          <div class="viewcontent hidden" style="height: 100px;padding-top:5px;white-space:normal;text-overflow:ellipsis;">
          </div>
      </div>
      <% }) %>
  </body>
</html>
